<section>
  <h2>Author</h2>
  <p>This Web site has been created by <strong>me</strong>.</p>

  <img src="/images/avatar.png" alt="avatar" width="200" />

  <p>Esta es una posible solución de la práctica P7</p>
</section>
